<div>
  <h2>{{ data.brand }}: {{ data.title }}</h2>
  <div class="flex-container">{{ data.description }}</div>
  <app-gallery [imageUrls]="data.images"></app-gallery>
  <div class="flex-container">
    <div class="child"><span>Rating: </span>{{ data.rating }}</div>
    <div class="child">
      <span>Discount: </span>{{ data.discountPercentage }} %
    </div>
  </div>
</div>
