h2 {
  text-align: center;
  background-color: burlywood;
  color: black;
}

span {
  font-weight: bold;
}

.child{
  margin-top: 20px;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  max-width: 700px;
}