<h2>Basic example of fetching data and displaying them in table</h2>

<table *ngIf="loaded; else spinner " mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="text-align: left">ID</th>
    <td
      mat-cell
      *matCellDef="let element"
      style="text-align: left"
      (click)="handleClick(element)"
    >
      {{ element.id }}
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element" (click)="handleClick(element)">
      {{ element.title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">Rating</th>
    <td
      mat-cell
      *matCellDef="let element"
      style="text-align: center"
      (click)="handleClick(element)"
    >
      {{ element.rating }}
    </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef style="text-align: right">Brand</th>
    <td
      mat-cell
      *matCellDef="let element"
      style="text-align: right"
      (click)="handleClick(element)"
    >
      {{ element.brand }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
